<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark bg-clear">
    <div class="container-fluid">
        <ul class="navbar-nav ms-2 mb-2">
            <li class="nav-item">
                <img src="../../../assets/smartclaimz-small.png" (click)="toggleFullScreen()"
                     style="cursor: pointer !important">
            </li>
        </ul>
        <button class="navbar-toggler ms-auto me-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#mainnav" (click)="isMenuCollapsed = !isMenuCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="mainnav">
            <ul *ngIf="!connected()" style="float: right;"
                class="navbar-nav ms-auto me-2 mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" (click)="showConnectModal()"><i
                        class="fa-solid fa-wallet me-1"></i>Connect</a>
                </li>
                <li class="nav-item"><a class="nav-link" id="CONTACTUS" (click)="routeContactUs()">
                    <i class="fa-solid fa-message me-1"></i>Contact Us</a>
                </li>
                <li class="nav-item"><a class="nav-link" id="TOKENMETADATA" (click)="routeTokenMetadata()">
                    <i class="fa-solid fa-bag-shopping me-1"></i>Explore</a>
                </li>
            </ul>
            <ul *ngIf="connected()" style="float: right;"
                class="navbar-nav ms-auto me-2 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-active" id="REWARDS" (click)="routeRewards()">
                        <i class="fa-solid fa-coins me-1"></i>Rewards</a>
                </li>
                <li *ngIf="isTestNet" class="nav-item">
                    <a class="nav-link" id="TESTNET" (click)="routeTestnet()">
                        <i class="fa-solid fa-user-tie me-1"></i>Testnet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="TOKENMETADATA" (click)="routeTokenMetadata()">
                        <i class="fa-solid fa-bag-shopping me-1"></i>Explore</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" id="CONTACTUS" (click)="routeContactUs()">
                        <i class="fa-solid fa-message me-1"></i>Contact Us</a>
                </li>
                <li class="nav-item">
                    <a *ngIf="walletLoaded" class="nav-link" (click)="disconnectWallet()"><i
                            class="fa-solid fa-right-from-bracket me-1"></i>{{getWalletSubstring()}}</a>
                    <a *ngIf="!walletLoaded" class="nav-link"><img width="18" height="18" src="assets/smartclaimz.ico"
                                                                   class="request-spinner" style="margin-top: 3px"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div bsModal #connectModal="bs-modal" class="modal fade" role="dialog" tabindex="-1"
     [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-dialog-centered" style="width: 350px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ms-0 me-auto" style="color: #153359 !important">Connect a wallet</h4>
                <span class="ms-auto">
                <button pButton class="p-button-rounded p-button-text p-button-plain" icon="pi pi-times"
                        title="Cancel"
                        iconPos="left"
                        (click)="hideConnectModal()"></button>
                    </span>
            </div>
            <div class="modal-body text-center" style="padding: .1em !important;overflow-y: auto">
                <div class="ms-2 me-2 row">
                    <a pButton class="p-button-rounded p-button-outlined no-ul inverted"
                       [title]="eternlAvailable() ? 'Connect to Eternl':'Eternl wallet not installed. Click to visit their website.'"
                       (click)="eternlAvailable() ? connectEternl(): openEternl()    ">
                        <p class="ms-1">Eternl</p>
                        <p-image src="../../assets/icons/eternl.png" alt="Eternl" width="25" height="25">
                        </p-image>
                    </a>
                    <a pButton class="p-button-rounded p-button-outlined no-ul inverted mt-3"
                       (click)="namiAvailable() ? connectNami(): openNami()"
                       [title]="namiAvailable() ? 'Connect to Nami':'Nami wallet not installed. Click to visit their website.'">
                        <p class="ms-1">Nami</p>
                        <p-image src="../../assets/icons/nami.png" alt="Nami" width="25" height="25">
                        </p-image>
                    </a>
                    <a pButton class="p-button-rounded p-button-outlined no-ul inverted mt-3"
                       (click)="geroAvailable() ? connectGero(): openGero()"
                       [title]="geroAvailable() ? 'Connect to Gero':'Gero wallet not installed. Click to visit their website.'">
                        <p class="ms-1">Gero</p>
                        <p-image src="../../assets/icons/gero.png" alt="Gero" width="25" height="25">
                        </p-image>
                    </a>
                    <a pButton class="p-button-rounded p-button-outlined no-ul inverted mt-3"
                       (click)="flintAvailable() ? connectFlint() : openFlint()"
                       [title]="flintAvailable() ? 'Connect to Flint':'Flint wallet not installed. Click to visit their website.'">
                        <p class="ms-1">Flint</p>
                        <p-image src="../../assets/icons/flint.png" alt="Flint" width="25" height="25">
                        </p-image>
                    </a>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<notifier-container>
</notifier-container>
<div class="container-fluid" style="padding-top: 75px">
    <router-outlet></router-outlet>
    <footer id="footer"></footer>
</div>
<network></network>
