<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark bg-clear">
    <div class="container-fluid">
        <ul class="navbar-nav ms-2 mb-2">
            <li *ngIf="compressMenu" class="nav-item">
                <img src="../../../assets/smartclaimz-small.png" (click)="toggleFullScreen()"
                     style="cursor: pointer !important" width="135" height="53">
            </li>
            <li *ngIf="!compressMenu" class="nav-item">
                <img src="../../../assets/smartclaimz-small.png" (click)="toggleFullScreen()"
                     style="cursor: pointer !important">
            </li>
        </ul>
        <div *ngIf="compressMenu" id="mainnav">
            <ul style="float: right;" class="navbar-nav ms-auto me-1 mb-2">
                <li *ngIf="!connected" class="nav-item" style="padding-top: 0px">
                    <p-menubar #menu [model]="collapsedMenu"></p-menubar>
                </li>
                <li *ngIf="connected" class="nav-item me-1">
                    <a *ngIf="walletLoaded" style="display: flex !important" class="nav-link"
                       (click)="disconnectWallet()">
                        <p-image src="{{walletImage}}" class="mt-auto mb-auto" title="Disconnect wallet"
                                 alt="{{getWalletSource()}}" width="20" height="20"></p-image>
                    </a>
                    <a *ngIf="!walletLoaded" class="nav-link"><img width="20" height="20" src="assets/smartclaimz.ico"
                                                                   class="request-spinner"></a>
                </li>
                <li *ngIf="connected" style="display: flex !important;" class="nav-item">
                    <p-menubar #menu [model]="collapsedConnectedMenu"></p-menubar>
                </li>
            </ul>
        </div>
        <div *ngIf="!compressMenu" id="mainnav">
            <ul style="float: right;"
                class="navbar-nav ms-auto me-1 mb-2">
                <li *ngIf="!connected" class="nav-item">
                    <p-menubar [model]="connectMenuItem"></p-menubar>
                </li>
                <li *ngIf="connected" class="nav-item me-2">
                    <a *ngIf="walletLoaded" style="display: flex !important" class="nav-link mb-1"
                       (click)="disconnectWallet()">
                        <p-image src="{{walletImage}}" class="me-2 mt-auto mb-auto" title="Disconnect wallet"
                                 alt="{{getWalletSource()}}" width="20" height="20"></p-image>
                        <span title="Disconnect wallet"
                              style="text-transform: none !important;">{{getWalletSubstring()}}</span></a>
                    <a *ngIf="!walletLoaded" class="nav-link mt-1"><img width="18" height="18"
                                                                        src="assets/smartclaimz.ico"
                                                                        class="request-spinner" style="margin-top: 3px"></a>
                </li>
                <li *ngIf="connected" class="nav-item">
                    <p-menubar [model]="rewardsMenu"></p-menubar>
                </li>
                <li class="nav-item me-2">
                    <p-menubar [model]="helpMenu"></p-menubar>
                </li>
            </ul>
        </div>
    </div>
    <a (click)="scrollToElement('topAnchor')" id="scrollTop" title="Go to top"><i
            class="fa-solid fa-arrow-alt-circle-up"></i></a>
</nav>
<div bsModal #connectModal="bs-modal" class="modal fade" role="dialog" tabindex="-1"
     [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-dialog-centered connect-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ms-0 me-auto" style="color: #153359 !important">Connect a wallet</h4>
                <span class="ms-auto">
                <button pButton class="p-button-rounded p-button-text p-button-plain" icon="pi pi-times"
                        title="Cancel"
                        iconPos="left"
                        (click)="hideConnectModal()"></button>
                    </span>
            </div>
            <div class="modal-body text-center" style="padding: .1em !important;overflow-y: auto">
                <div class="ms-2 me-2 row">
                    <a pButton class="p-button-rounded p-button-outlined no-ul inverted"
                       [title]="eternlAvailable() ? 'Connect to Eternl':'Eternl wallet not installed. Click to visit their website.'"
                       (click)="eternlAvailable() ? connectEternl(): openEternl()    ">
                        <p class="ms-1" style="font-size: 1rem !important;">Eternl</p>
                        <p-image src="../../assets/icons/eternl.png" alt="Eternl" width="25" height="25">
                        </p-image>
                    </a>
                    <a pButton class="p-button-rounded p-button-outlined no-ul inverted mt-3"
                       (click)="namiAvailable() ? connectNami(): openNami()"
                       [title]="namiAvailable() ? 'Connect to Nami':'Nami wallet not installed. Click to visit their website.'">
                        <p class="ms-1" style="font-size: 1rem !important;">Nami</p>
                        <p-image src="../../assets/icons/nami.png" alt="Nami" width="25" height="25">
                        </p-image>
                    </a>
                    <a pButton class="p-button-rounded p-button-outlined no-ul inverted mt-3"
                       (click)="geroAvailable() ? connectGero(): openGero()"
                       [title]="geroAvailable() ? 'Connect to Gero':'Gero wallet not installed. Click to visit their website.'">
                        <p class="ms-1" style="font-size: 1rem !important;">Gero</p>
                        <p-image src="../../assets/icons/gero.png" alt="Gero" width="25" height="25">
                        </p-image>
                    </a>
                    <a pButton class="p-button-rounded p-button-outlined no-ul inverted mt-3"
                       (click)="flintAvailable() ? connectFlint() : openFlint()"
                       [title]="flintAvailable() ? 'Connect to Flint':'Flint wallet not installed. Click to visit their website.'">
                        <p class="ms-1" style="font-size: 1rem !important;">Flint</p>
                        <p-image src="../../assets/icons/flint.png" alt="Flint" width="25" height="25">
                        </p-image>
                    </a>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<notifier-container>
</notifier-container>
<div id="topAnchor" #topAnchor class="router-wrapper container-fluid">
    <router-outlet></router-outlet>
    <footer id="footer"></footer>
</div>
<network></network>
