<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark bg-clear">
    <div class="container-fluid">
        <ul *ngIf="!connected()" class="navbar-nav ms-2 mb-2">
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa-solid fa-home me-1"></i> HOME</a></li>
        </ul>
        <ul *ngIf="connected()" class="navbar-nav ms-2 mb-2">
            <li class="nav-item"><a class="nav-link"><i class="fa-solid fa-face-frown me-1"></i>App Icon?</a></li>
        </ul>
        <ul *ngIf="!connected()" class="navbar-nav ms-auto me-2 mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" (click)="showConnectModal()"><i class="fa-solid fa-wallet me-1"></i>Connect</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#contact"><i class="fa-solid fa-question-circle me-1"></i>HELP</a>
            </li>
        </ul>
        <ul *ngIf="connected()" class="navbar-nav ms-auto me-2 mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" (click)="disconnectWallet()"><i class="fa-solid fa-right-from-bracket me-1"></i>{{getWalletSubstring()}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact"><i class="fa-solid fa-question-circle me-1"></i>HELP</a>
            </li>
        </ul>
    </div>
</nav>
<div bsModal #connectModal="bs-modal" class="modal fade" role="dialog" tabindex="-1"
     [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-dialog-centered" style="width: 350px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ms-0 me-auto">Connect a wallet</h4>
                <span class="ms-auto">
                <button pButton pRipple class="p-button-rounded p-button-text p-button-plain" icon="pi pi-times"
                        title="Cancel"
                        iconPos="left"
                        (click)="hideConnectModal()"></button>
                    </span>
            </div>
            <div class="modal-body text-center" style="padding: .1em !important;overflow-y: auto">
                <div class="ms-2 me-2 row">
                    <a pButton pRipple class="p-button-rounded p-button-outlined no-ul inverted"
                       [title]="ccvaultAvailable() ? 'Connect to CCVault':'CCVault wallet not installed'"
                       (click)="connectCCVault()">
                        <p class="ms-1">CCVault</p>
                        <p-image src="../../assets/icons/ccvault.png" alt="CCVault" width="25" height="25">
                        </p-image>
                    </a>
                    <a pButton pRipple class="p-button-rounded p-button-outlined no-ul inverted mt-3"
                       (click)="connectNami()"
                       [title]="namiAvailable() ? 'Connect to Nami':'Nami wallet not installed'">
                        <p class="ms-1">Nami</p>
                        <p-image src="../../assets/icons/nami.png" alt="Nami" width="25" height="25">
                        </p-image>
                    </a>
                    <a pButton pRipple class="p-button-rounded p-button-outlined no-ul inverted mt-3"
                       (click)="connectGero()"
                       [title]="geroAvailable() ? 'Connect to Gero':'Gero wallet not installed'">
                        <p class="ms-1">Gero</p>
                        <p-image src="../../assets/icons/gero.png" alt="Gero" width="25" height="25">
                        </p-image>
                    </a>
                    <a pButton pRipple class="p-button-rounded p-button-outlined no-ul inverted mt-3"
                       (click)="connectFlint()"
                       [title]="flintAvailable() ? 'Connect to Flint':'Flint wallet not installed'">
                        <p class="ms-1">Flint</p>
                        <p-image src="../../assets/icons/flint.png" alt="Flint" width="25" height="25">
                        </p-image>
                    </a>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<notifier-container></notifier-container>
<div class="container-fluid" style="padding-top: 75px">
    <router-outlet></router-outlet>
    <footer id="footer"></footer>
</div>
