<section id="contact" class="content-section">
    <div class="center-div-parent">
        <div class="center-div-child">
            <h4>Contact Us</h4>
            <div class="blackdiv" style="padding-top: 0px !important;">
                <form [formGroup]="contactUsForm" (ngSubmit)="submitFeedback()" style="padding-top: 1.5rem;">
                    <div *ngIf="contactUsForm.get('name').errors?.required
                && (contactUsForm.get('name').dirty || contactUsForm.get('name').touched)" class="invalid-error">
                        Name is required
                    </div>
                    <input type="text" class="form-control mb-3"
                           placeholder="Name.." style="max-width: 300px;"
                           [formControl]="contactUsForm.controls['name']"
                           tooltip="Enter your name..">
                    <div *ngIf="contactUsForm.get('email').errors?.required
                    && (contactUsForm.get('email').dirty || contactUsForm.get('email').touched)" class="invalid-error">
                        Email is required
                    </div>
                    <div *ngIf="contactUsForm.get('email').errors?.email
                        && (contactUsForm.get('email').dirty || contactUsForm.get('email').touched)"
                         class="invalid-error">
                        Email address is invalid
                    </div>
                    <input type="text" class="form-control mb-3"
                           placeholder="Email.." style="max-width: 300px;"
                           [formControl]="contactUsForm.controls['email']"
                           tooltip="Enter your email..">
                    <div *ngIf="contactUsForm.get('subject').errors?.required && (contactUsForm.get('subject').dirty
                     || contactUsForm.get('subject').touched)" class="invalid-error">
                        Subject is required
                    </div>
                    <input type="text" class="form-control mb-3"
                           placeholder="Subject.." style="max-width: 300px;"
                           [formControl]="contactUsForm.controls['subject']"
                           tooltip="Enter the subject..">
                    <div *ngIf="contactUsForm.get('message').errors?.required
                        && (contactUsForm.get('message').dirty || contactUsForm.get('message').touched)"
                         class="invalid-error">
                        Message is required
                    </div>
                    <textarea class="form-control mb-3"
                              rows="5"
                              cols="50"
                              placeholder="Message.."
                              [formControl]="contactUsForm.controls['message']"
                              tooltip="Enter the message.."></textarea>
                    <button pButton
                            [disabled]="!contactUsForm.valid"
                            title="Send message"
                            type="submit"
                            class="p-button-rounded p-button-primary me-auto"
                            label="Send" icon="fa-solid fa-paper-plane">
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="contact-info-section mt-5">
        <div class="container text-center ms-auto me-auto">
            <h4 class="text-white"><a href="mailto:info@freeloaderz.io">info@freeloaderz.io</a></h4>
            <ul class="list-inline banner-social-buttons mt-5">
                <li>
                    <a href="https://twitter.com/Freeloaderz2022" target="_blank" class="btn btn-default btn-lg"><i
                            class="fa-brands fa-twitter fa-fw"></i> <span
                            class="ms-2 network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://linkedin.com/in/chrisenunez" target="_blank" class="btn btn-default btn-lg"><i
                            class="fa-brands fa-linkedin fa-fw"></i> <span class="ms-2 network-name">LinkedIn</span></a>
                </li>
                <li>
                    <a href="https://discord.gg/E98Ghnmqkw" target="_blank" class="btn btn-default btn-lg"><i
                            class="fa-brands fa-discord fa-fw"></i><span
                            class="ms-2 network-name">Discord</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>
<ng-template #notificationTemplate let-notificationData="notification">
    <p class="notifier__notification-message" [innerHTML]="notificationData.message"></p>
</ng-template>