<div #info id="info" class="container content-section text-center">
    <div style="margin-top: 75px;">
        <h4>Who, what, why, how</h4>
        <h4>Freeloaderz is a coalition of SPO's with experience in software development and network administraion working on developing a native asset distribution system called SmartClailmz</h4>
        <h4>The current cost of processing transactions for airdrop and token distribution is high and often takes a long time resulting in frustrating and distressing user experience. Often times users are not sure if the transaction has gone through and are left starting at their screen for appreciable amount of time</h4>
        <h4> SmartClaimz enables the processing of native asset distribution to happen faster and much cheaper. 
            This is being acheived by harnessing the power of SUBMIT API end-point provided by the coalitions SPO's and by creating a simple script 
            that batches transactions to distribute tokens. The system is also using a HAPROXY load balancer for round robin distribution of API 
            submissions over the coalition relays, ensuring that a relay does not get overloaded with requests. The system will be combined with a 
            WEB3/DApp connector token cliam facility that will enable users to claim tokens for airdrops at a much lower costs.</h4>
    </div>
</div>