<section #info id="info" class="content-section mb-5">
    <div class="center-div-parent">
        <div class="center-div-child">
            <div class="info-view">
                <div class="info-header">
                    <h4>Who is Feeloaderz?</h4>
                </div>
                <div class="info-left text-left">
                    <div class="blackdiv mb-5">
                        <span class="info-text"><a href="https://www.freeloaderz.io/" target="_blank"
                                                   class="spanlinkBlue">Freeloaderz</a> is a coalition of Cardano stake pools offering Cardano Submit API access to their relay servers to help improve
                        transaction speed by opening up ports to user wallets. Join the movement in our <a
                                    href="https://discord.gg/rP4PdV8jRY" target="_blank"
                                    class="spanlinkBlue">Discord Server</a>.</span>
                    </div>
                </div>
                <div class="info-header">
                    <h4 class="info-text-end">What is SmartClaimz?</h4>
                </div>
                <div class="info-right text-left">
                    <div class="blackdiv mb-5">
                    <span class="info-text">The current cost of processing transactions for airdrop and token distribution is high and often
    takes a long time.  This can result in a frustrating and distressing user experience. Often times, it isn't clear if the transaction was
                        even submitted correctly.  SmartClaimz addresses these user experience issues with a faster/clearer transaction
                        with less fees overall.  This is achieved by:</span>
                        <ul class="mt-2">
                            <li>Freeloaderz SPOs providing the Cardano Submit API end point
                                on their pool Relays
                            </li>
                            <li>A load balancer providing a round robin distribution to these Relays for transactions
                            </li>
                            <li>Native script processing to allow for parallel transactions</li>
                            <li>The ability to accumulate your rewards instead of having to claim every epoch (less
                                network transactions overall)
                            </li>
                            <li>Web3 dApp wallet connection</li>
                            <li>Optimized UTXO management</li>
                        </ul>
                    </div>
                </div>
                <div class="info-header">
                    <h4>How does SmartClaimz work?</h4>
                </div>
                <div class="info-left text-left">
                    <div class="blackdiv mb-5" style="display: block">
                        <span class="info-text">
                            SmartClaimz is powered by Drasil-Core, specifically the "Reward & Distribution Application" created and run
                            by <a href="https://www.drasil.io/" class="spanlinkBlue" target="_blank">Drasil</a>. It is just one of a suite of applications designed to power-up developers, making it quick and
                            easy to develop secure dApps on Cardano. The Reward & Distribution Application integrates neatly with the
                            SmartClaimz web app, enabling one-click instant claims, claim history, automated reward calculations and
                            distribution, and staking delegation.</span>
                        <span class="info-text mt-3">The SmartClaimz website is an open source Angular project available on the
                            <a href="https://github.com/FreeLoaderz/rwd-frontend" target="_blank" class="spanlinkBlue">Freeloaderz Github</a>.  If you have
                        any concerns regarding how your wallet is used, you can view the code and see exactly how we are using it.</span>
                    </div>
                </div>
                <div class="info-header">
                    <h4 class="info-text-end">Where can I get more information?</h4>
                </div>
                <div class="info-right text-left">
                    <div class="blackdiv mb-5">
                        <span class="info-text">The best place to stay up to date on Freeloaderz and the SmartClaimz project is to visit our <a
                                href="https://discord.gg/rP4PdV8jRY" target="_blank"
                                class="spanlinkBlue">Discord Server</a>.</span>
                        <span class="info-text mt-3">
                            For more detailed instructions on using SmartClaimz see our
                            preview <a class="spanlinkBlue"
                                       href="https://docs.google.com/document/d/1cGkCN7Go0Q1tQchBzcI-7-QqQlAVeloDg_j3OqdTabY/edit?usp=sharing"
                                       target="_blank">guide</a>.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>