#pre-load {
    background-color: #061c35;
    height: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pre-load div.messaging {
    color: white;
    font-family: monospace;
    text-align: center;
    display: block;
}

#pre-load h1 {
    font-size: 26px;
    line-height: 35px;
    margin: 0 0 20px 0;
}

#pre-load p {
    font-size: 18px;
    line-height: 14px;
    margin: 0 0 0 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}