.navbar {
    margin-bottom: 0 !important;
    border-bottom: 0px !important;

    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    padding-bottom: 0 !important;
}

.bg-clear {
    --bs-bg-opacity: 0;
}

.bg-dark {
    background-color: #061c35;
}

.navbar li.active {
    outline: none;
    background-color: rgba(95, 119, 255, 0.3);
}

.navbar li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar li a:hover,
.navbar li a:focus,
.navbar li a.active {
    outline: 0 !important;
    color: #df4863 !important;
}

.nav-active {
    cursor: pointer !important;
    color: #df4863 !important;
    text-shadow: none !important;
}

#mainnav > ul {
    padding-left: 10px;
    padding-right: 10px;
    background: transparent !important;
}
#mainnav.show > ul {
    background-color: #061c35 !important;
}