/* This file is to make CSS overrides to some of the CSS classes we import from various libraries as needed */
:root {
    --bs-dark-rgb: 8.6, 18.8, 34.9 !important;
    --bs-body-bg: black !important;
}

html {
    height: 100%
}

.no-webp > body.body0 {
    background-image: url('../assets/backgrounds/astro-center.jpeg');
}

.webp > body.body0 {
    background-image: url('../assets/backgrounds/astro-center.webp');
}

.no-webp > body.body1 {
    background-image: url('../assets/backgrounds/astro-planet.jpeg');
}

.webp > body.body1 {
    background-image: url('../assets/backgrounds/astro-planet.webp');
}

.no-webp > body.body2 {
    background-image: url('../assets/backgrounds/astro-right.jpeg');
}

.webp > body.body2 {
    background-image: url('../assets/backgrounds/astro-right.webp');
}

.no-webp > body.body3 {
    background-image: url('../assets/backgrounds/planet-rings.jpeg');
}

.webp > body.body3 {
    background-image: url('../assets/backgrounds/planet-rings.webp');
}

body {
    overflow-x: hidden !important;
    overscroll-behavior: none !important;
    padding-top: 0px !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    background-color: #102648;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

@keyframes blink {
    from, to {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}

.router-wrapper {
    padding-top: 75px;
    overflow-y: auto;
}

.p-menuitem-link,
.p-menuitem-list,
.p-menuitem-icon,
.p-menuitem-text {
    font-size: 18px !important;
    font-weight: bold !important;
    background: transparent !important;
}

.p-menu {
    width: 7rem !important;
    background: black !important;
}

.p-menu-list {
    border: 0px !important;
    background: black !important;
}

.header {
    height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.popoutClass {
    padding: 0 !important;
    margin-left: 0px !important;
}

.slowblinking {
    animation: blink 5s ease-in-out infinite;
}

.blinking {
    animation: blink 2s ease-in infinite;
}

.blinking20 {
    animation: blink 2000ms linear infinite;
}

.popoutContent {
    border: 2px solid !important;
    border-color: #010919 !important;
}

*:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

*:active {
    outline: 0 !important;
    box-shadow: none !important;
}

*:hover {
    outline: 0 !important;
    box-shadow: none !important;
}

#unmodified .p-inputtext {
    color: dimgray;
}


.p-grid {
    border: none;
    box-shadow: none;
    text-decoration: none;
    border-radius: 0;
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
}

.p-dataview .p-paginator-bottom {
    border-width: 1px 1px 1px 1px !important;
}

.p-submenu {
    white-space: nowrap;
    width: auto !important;
}

li a {
    font-size: 18px;
}

li {
    font-size: 18px;
}

a.inverted {
    color: #153359 !important;
    font-weight: bold;
}

a {
    color: white !important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a.notifier__notification-message:hover,
a.notifier__notification-message:active,
a.notifier__notification-message:focus {
    color: white !important
}

a:hover {
    cursor: pointer !important;
    color: #df4863 !important;
}

a:focus,
a:active {
    cursor: pointer !important;
    color: #df4863 !important;
    text-shadow: none !important;
}

.spanlink {
    color: white !important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.spanlink:hover {
    cursor: pointer !important;
    color: #df4863 !important;
}

.spanlink:focus,
.spanlnk:hover {
    cursor: pointer !important;
    color: #df4863 !important;
    text-shadow: none !important;
}

.subrow {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: nowrap !important;
}

.subrow > label {
    padding-top: 5px;
}

.modal-content {
    -moz-border-radius: 25px 25px 25px 25px !important;
    -webkit-border-radius: 25px !important;
    border-radius: 25px 25px 25px 25px !important;
    -moz-box-shadow: 3px 3px 5px #000000FF !important;
    -webkit-box-shadow: 3px 3px 5px #000000FF !important;
    box-shadow: 3px 3px 5px #000000FF !important;
}

.modal-plugin {
    padding: 1rem;
}

.modal-header {
    font-weight: bold !important;
    color: #153359 !important;
    border-bottom: 0px !important;
    margin: 0;
    display: inline-flex !important;
}

.modal-footer {
    font-weight: bold !important;
    color: #153359 !important;
    border-top: 0px !important;
    margin-left: auto;
    margin-right: auto;
}

.modal-body {
    font-weight: bold !important;
    color: #153359 !important;
    border: 0px !important;
}

.modal-dialog {
    font-weight: bold !important;
    color: #153359 !important;
    border: 0px !important;
    max-width: 350px !important;
}

.sidebar-header > h4 {
    text-decoration: underline;
}

.sidebar-content {
    width: 100%;
}

.sidebar-content-header {
    width: 100%;
}

.sidebar-content-header > h4 {
    text-decoration: underline;
}

.single-display {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 45px !important;
}

.h2 {
    background: transparent !important;
}

h4 {
    color: #ffffff !important;
}

.no-ul {
    text-decoration: none !important;
}

.no-up {
    text-transform: none !important;
}

a.p-button {
    display: block !important;
}

a.p-button > p {
    float: left !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

a.p-button > i {
    float: left !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

a.p-button > p-image {
    float: right !important;
}

#contact.content-section {
    height: auto !important;
}

button.p-button:hover, button.p-button:active {
    cursor: pointer !important;
    color: white !important;
}

button.p-button-text:hover, button.p-button-text:active {
    cursor: pointer !important;
    color: #df4863 !important;
}

.navbar li a:hover,
.navbar li a:focus,
.navbar li a.active {
    outline: 0 !important;
    color: #df4863 !important;
}

button.p-button-text.active {
    cursor: pointer !important;
    color: #df4863 !important;
    text-shadow: none !important;
}

button.active {
    cursor: pointer !important;
    color: white !important;
    text-shadow: none !important;
}

.request-spinner {
    color: #FFFFFF !important;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

@keyframes fa-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.p-dataview .p-dataview-content {
    background-color: transparent !important;
}

.p-grid {
    background-color: transparent !important;
}

.p-dataview-emptymessage {
    color: white !important;
}

.p-datatable-header,
.p-datatable-table,
.p-datatable-thead,
.p-datatable-tbody {
    background: transparent !important;
    color: white !important;
    border: 0 !important;
}

th.p-resizable-column {
    border: 0 !important;
}

.p-datatable .p-datatable-tbody > tr > td {
    background: transparent !important;
    color: white !important;
    border: 0 !important;
}

.p-datatable .p-datatable-tbody > tr {
    background: transparent !important;
    color: white !important;
    border: 0 !important;
}

.p-datatable-thead > tr > th {
    background: transparent !important;
    color: #2b90c3 !important;
}

.p-datatable-thead > tr > th:hover {
    color: #df4863 !important;
    cursor: pointer !important;
}

.p-datatable-tbody > tr > td > span {
    background: transparent !important;
    color: white !important;
}

.p-datatable-tbody > tr:hover > td > span {
    color: #df4863 !important;
    cursor: default !important;
}

.p-datatable-tbody > tr:hover > td > span > span > a {
    color: #df4863 !important;
    cursor: pointer !important;
}

.p-datatable-tbody > tr > td > span > span > a:hover {
    color: #df4863 !important;
    cursor: pointer !important;
}

.p-paginator {
    background: transparent !important;
    color: white !important;
    border: 0 !important;
}

ul.banner-social-buttons > li > a:hover,
ul.banner-social-buttons > li > a:focus,
ul.banner-social-buttons > li > a:active {
    color: white !important;
}

.p-datatable-resizable > .p-datatable-wrapper {
    overflow-x: hidden !important;
}

span.p-menuitem-icon.fa-bolt-lightning {
    color: goldenrod !important;
}

.fa-handshake {
    color: #efb700 !important;
}

.fa-circle-info {
    color: forestgreen !important;
}

.fa-circle-question {
    color: #8dc0d3 !important;
}

.fa-toolbox {
    color: dimgrey !important;
}

.fa-server {
    color: skyblue !important;
}

.fa-compass {
    color: silver !important;
}

.fa-chevron-right {
    color: wheat !important;
}

.pi-angle-down {
    color: wheat !important;
}

.fa-chevron-up {
    color: wheat !important;
}

.fa-chevron-down {
    color: wheat !important;
}

.fa-message {
    color: snow !important;
}

.fa-question {
    color: snow !important
}

.fa-share-nodes {
    color: lawngreen !important;
}

.fa-wallet {
    color: tan !important;
}

.fa-coins {
    color: gold !important;
}

.fa-coins {
    color: gold !important;
}

.fa-right-from-bracket {
    color: tan !important;
}

.fa-clock-rotate-left {
    color: steelblue !important;
}

input, textarea {
    -moz-border-radius: 25px 25px 25px 25px !important;
    -webkit-border-radius: 25px !important;
    border-radius: 25px 25px 25px 25px !important;
}

.p-button-primary {
    background-color: #2b90c3 !important;
}

.p-button-primary:focus,
.p-button-primary:active,
.p-button-primary:hover {
    background-color: #153359 !important;
}

.p-panel-title,
.p-panel-header {
    display: flex !important;
    cursor: pointer !important;
    background-color: transparent !important;
    border: 0 !important;
    color: #2b90c3 !important;
    font-weight: bold;
}

.p-panel-title:hover,
.p-panel-header:hover,
.p-panel-title:active,
.p-panel-header:active,
.p-panel-title:focus,
.p-panel-header:focus {
    background-color: black !important;
    color: #df4863 !important;
}

.p-panel-header:active > .p-panel-title,
.p-panel-header:focus > .p-panel-title,
.p-panel-header:hover > .p-panel-title {
    background-color: black !important;
    color: #df4863 !important;
}

.panel-active {
    background-color: black !important;
    color: #df4863 !important;
}

.p-toggleable-content {
    background: transparent !important;
}

.p-panel-content {
    background-color: transparent !important;
    border: 0 !important;
}

div.p-panel-content > p {
    background: transparent !important;
    color: white !important;
}

.pi-minus,
.pi-plus {
    color: white !important;
}

.pi-minus:active,
.pi-plus:active,
.pi-minus:hover,
.pi-plus:hover,
.pi-minus:focus,
.pi-plus:focus {
    color: #df4863 !important;
}

.p-paginator-element:hover,
.p-paginator-element:hover > span.p-paginator-icon {
    color: white !important;
    background-color: #df4863 !important;
}

.p-paginator-pages > button.p-highlight {
    background-color: #2b90c3 !important
}

.modal-dialog-centered {
    justify-content: center !important;
    display: flex !important;
    margin: 0 auto !important;
}

div.collapsesidemenu > button.p-button-text > span.fa-angles-right {
    -webkit-animation: color-change 10s infinite !important;
    -moz-animation: color-change 10s infinite !important;
    -o-animation: color-change 10s infinite !important;
    -ms-animation: color-change 10s infinite !important;
    animation: color-change 10s infinite !important;
}

@-webkit-keyframes color-change {
    0% {
        color: #df4863;
    }
    50% {
        color: #2b90c3;
    }
    100% {
        color: #df4863;
    }
}

@-moz-keyframes color-change {
    0% {
        color: #df4863;
    }
    50% {
        color: #2b90c3;
    }
    100% {
        color: #df4863;
    }
}

@-ms-keyframes color-change {
    0% {
        color: #df4863;
    }
    50% {
        color: #2b90c3;
    }
    100% {
        color: #df4863;
    }
}

@-o-keyframes color-change {
    0% {
        color: #df4863;
    }
    50% {
        color: #2b90c3;
    }
    100% {
        color: #df4863;
    }
}

@keyframes color-change {
    0% {
        color: #df4863;
    }
    50% {
        color: #2b90c3;
    }
    100% {
        color: #df4863;
    }
}

body .p-menubar {
    padding: 0;
    background: transparent !important;
    border: 0px !important;
    position: static !important;
}

.p-menubar .p-menubar-root-list {
    background: transparent !important;
    border: 0 !important;
}

body .p-menubar, .p-menuitem-text {
    background: transparent !important;
    color: #FFFFFF;
    font-size: 18px !important;
    /*font-weight: 400 !important;*/
    border: 0px !important;
}

body .p-menubar .p-menuitem-link {
    background: transparent !important;
    color: white !important;
    font-size: 18px !important;
    border: 0px !important;
    width: 100%;
}

body .p-menubar .p-menuitem-link .p-menuitem-text {
    background: transparent !important;
    color: white !important;
    font-size: 18px !important;
    /*font-weight: 400 !important;*/
    border: 0px !important;
}

body .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text {
    background-color: black !important;
    color: #df4863 !important;
    font-size: 18px !important;
    /*font-weight: 400 !important;*/
    border: 0px !important;
}

body .p-menubar .p-menuitem:focus > .p-menuitem-link .p-menuitem-text,
body .p-menubar .p-menuitem:hover > .p-menuitem-link .p-menuitem-text {
    color: #df4863 !important;
    font-size: 18px !important;
    border: 0px !important;
}

body .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link {
    background-color: black !important;
    color: #df4863 !important;
    font-size: 18px !important;
    /*font-weight: 400 !important;*/
    border: 0px !important;
}

body .p-menubar .p-menuitem:focus > .p-menuitem-link,
body .p-menubar .p-menuitem:hover > .p-menuitem-link {
    color: #df4863 !important;
    font-size: 18px !important;
    /*font-weight: 400 !important;*/
    border: 0px !important;
}

body .p-menubar .p-submenu-list {
    background: black !important;
    border: 0 !important;
}

.p-menubar .p-menubar-button:hover,
.p-menubar .p-menubar-button:active,
.p-menubar .p-menubar-button:focus {
    background: transparent !important;
}

.p-menubar.p-menubar-mobile-active .p-menubar-root-list {
    height: 100vh !important;
    background-color: black !important;
}

.info-text-end {
    margin-left: auto;
}

.fa-angles-right {
    color: black !important;
}

.fa-xmark {
    color: black;
}

.fa-xmark:hover {
    color: #df4863 !important;
}

.fa-folder-open {
    color: moccasin !important;
}

.fa-vault {
    color: lightsteelblue !important;
}

.fa-sack-dollar {
    color: goldenrod !important;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
    text-decoration: none;
}

li + li {
    margin-left: 0 !important;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #021038;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #df4863;
}

.p-dropdown {
    border-radius: 25px !important;
    background-color: white !important;
    width: auto !important;
    font-size: 1rem;
    font-weight: 400 !important;
    line-height: 1.5;
    padding-left: 7px !important;
    padding-right: 7px !important;

}

.p-dropdown-panel,
.p-dropdown-item {
    border-radius: 25px !important;
}