body {
    overflow-x: hidden;
    overscroll-behavior: none;
    webkit-tap-highlight-color: rgb(21, 51, 89);
}

.invalid-error {
    color: #ff0200 !important;
}

.valid-ok {
    color: #00ff00 !important;
}

hr {
    margin-bottom: 25px;
}

#wrapper {
    padding-left: 0;
    margin-top: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

.inline {
    display: inline-block;
    float: left;
    width: 100%;
}

label {
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

.grid-item {
    margin: .5em;
    border: 1px solid #dee2e6;
    max-width: 30vw !important;
    min-width: 325px !important;
}

.grid-item-top,
.grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.grid-item-content {
    text-align: center;
}

.grid-entry {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    border: 0px !important;
    border-width: 0px !important;
}

.danger-content {
    color: #ff0000 !important;
    font-weight: bolder;
    -webkit-animation: pulsate 1.5s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.25;
    }
    17% {
        opacity: 0.5;
    }
    34% {
        opacity: 0.75;
    }
    50% {
        opacity: 1.0;
    }
    67% {
        opacity: .75;
    }
    84% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.25;
    }
}

.intro {
    display: table;
    width: 100%;
    height: 75vh !important;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
    text-shadow: 4px 10px 10px #000000;
    font-weight: bold;
}

.intro .intro-body .intro-text {
    font-size: 18px;
    text-shadow: 2px 5px 5px #000000;
}

@media (min-width: 767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, .1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-moz-keyframes pulse {

    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 50px;
    color: #fff;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.sub-content-section {
    padding-top: 0px;
}

.info-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background-color: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 600px;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

.btn {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid blue;
    color: blue;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid blue;
    outline: 0;
    color: white;
    background-color: blue;
}

ul.banner-social-buttons {
    margin-top: 0;
}

ul.banner-social-buttons li {
    margin-bottom: 15px;
}

@media (max-width: 1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media (max-width: 767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

::-moz-selection {
    text-shadow: gray !important;
    background: #fcfcfc;
    background: rgba(95, 119, 255, 0.3);
}

::selection {
    text-shadow: gray !important;
    background: #fcfcfc;
    background: rgba(95, 119, 255, 0.3);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    margin-right: 20px;
}
.sidebyside {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.popoutModal {
    display: block;
    pointer-events: auto;
    max-width: 355px;
    max-height: 240px;
    min-width: 355px;
    min-height: 240px
}

li + li {
    padding-top: 10px;
}
.removable {
    cursor: crosshair;
}
.draggable {
    cursor: move;
}
.static {
    cursor: pointer;
}

.grid-item {
    margin: .5em;
    border: 1px solid black;
    max-width: 225px !important;
    min-width: 225px !important;
    max-height: 225px !important;
    min-height: 225px !important;
}

.grid-item-top,
.grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.grid-item-content {
    text-align: center;
}

.grid-entry {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    border: 0px !important;
    border-width: 0px !important;
}
#circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}
#square {
    width: 50px;
    height: 50px;
}
#line {
    width: 10px;
    height: 50px;
    margin-right: 1.75rem;
    margin-left: 1.25rem;
}
