body {
    overflow-x: hidden;
    overscroll-behavior: none;
    webkit-tap-highlight-color: rgb(21, 51, 89);
}

#wrapper {
    padding-left: 0;
    margin-top: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

.inline {
    display: inline-block;
    float: left;
    width: 100%;
}

label {
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

.grid-item {
    margin: .75em;
    max-width: 30vw !important;
    min-width: 325px !important;
    background-color: black !important;
}

.grid-item-top {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    height: 20%;
}

.grid-item-top,
.grid-item-bottom {
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-item-bottom {
    height: 23%;
}

.grid-item-info-name {
    color: white;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.grid-entry {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    border: 0px !important;
    border-width: 0px !important;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.25;
    }
    17% {
        opacity: 0.5;
    }
    34% {
        opacity: 0.75;
    }
    50% {
        opacity: 1.0;
    }
    67% {
        opacity: .75;
    }
    84% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.25;
    }
}

.intro {
    display: table;
    width: 100%;
    height: 85vh !important;
    text-align: center;
    color: #fff;
    background: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
    text-shadow: 4px .5rem .5rem #000000;
    font-weight: bold;
}

.intro .intro-body .intro-text {
    font-size: 18px;
    text-shadow: 3px .3rem .3rem #000000;
}

.info-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background-color: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 600px;
}

@media (min-width: 767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 28px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, .1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

@-moz-keyframes pulse {

    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 50px;
    color: #fff;
    width: 100%;
    min-height: 50vh !important;
    height: auto !important;
    background-color: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.sub-content-section {
    padding-top: 0px;
}

.btn {
    text-transform: uppercase;
    font-family: "Audiowide", Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid blue;
    color: blue;
    background-color: #2b90c3;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid blue;
    outline: 0;
    color: white;
    background-color: blue;
}

ul.banner-social-buttons {
    margin-top: 0;
    display: inline-flex;
    padding: 0;
}

ul.vertical-social-buttons {
    margin-bottom: 15px;
    display: block;
    padding: 0;
}

::-moz-selection {
    text-shadow: gray !important;
    background: #fcfcfc;
    background: rgba(95, 119, 255, 0.3);
}

::selection {
    text-shadow: gray !important;
    background: #fcfcfc;
    background: rgba(95, 119, 255, 0.3);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

.sidebyside {
    display: flex;
    width: auto;
    align-items: stretch;
}

.grid-item {
    border: none !important;
    margin: .5em;
    -moz-border-radius: 25px 25px 25px 25px !important;
    -webkit-border-radius: 25px !important;
    border-radius: 25px 25px 25px 25px !important;
    -moz-box-shadow: 3px 3px 5px #000000FF !important;
    -webkit-box-shadow: 3px 3px 5px #000000FF !important;
    box-shadow: 6px 6px 9px #000000FF !important;

    max-width: 200px !important;
    min-width: 200px !important;
    max-height: 200px !important;
    min-height: 200px !important;
}

.info-grid-item {
    background-color: black;
    border: none;
    margin: .5em;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px 25px 25px 25px;
    -moz-box-shadow: 3px 3px 5px #000000FF;
    -webkit-box-shadow: 3px 3px 5px #000000FF;
    box-shadow: 6px 6px 9px #000000FF;
    height: 325px;
    max-width: 300px;
    min-width: 300px;
    max-height: 300px;
    min-height: 300px;
}

.info-grid-item-token {
    background-color: black;
    border: none;
    margin: .5em;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px 25px 25px 25px;
    -moz-box-shadow: 3px 3px 5px #000000FF;
    -webkit-box-shadow: 3px 3px 5px #000000FF;
    box-shadow: 6px 6px 9px #000000FF;

    max-width: 275px;
    min-width: 275px;
    max-height: 275px;
    min-height: 275px;
}

.grid-item-small {
    -moz-border-radius: 20px 20px 20px 20px !important;
    -webkit-border-radius: 20px !important;
    border-radius: 20px 20px 20px 20px !important;
    -moz-box-shadow: 2px 2px 4px #000000FF !important;
    -webkit-box-shadow: 2px 2px 4px #000000FF !important;
    box-shadow: 4px 4px 6px #000000FF !important;

    max-width: 175px !important;
    min-width: 175px !important;
    max-height: 175px !important;
    min-height: 175px !important;
}

.info-grid-item-small {
    -moz-border-radius: 20px 20px 20px 20px !important;
    -webkit-border-radius: 20px !important;
    border-radius: 20px 20px 20px 20px !important;
    -moz-box-shadow: 2px 2px 4px #000000FF !important;
    -webkit-box-shadow: 2px 2px 4px #000000FF !important;
    box-shadow: 4px 4px 6px #000000FF !important;

    max-width: 260px !important;
    min-width: 260px !important;
    max-height: 260px !important;
    min-height: 260px !important;
}

.info-grid-item-small > div.grid-item-bottom > button.p-button,
.grid-item-small > div.grid-item-bottom > button.p-button,
div.div-small > button.p-button {
    padding: 0.1rem .5rem !important;
    font-size: .8rem !important;
}

.info-grid-item-small > div.grid-item-bottom,
.grid-item-small > div.grid-item-bottom {
    bottom: 0.1rem !important;
}

.info-grid-item-small > div.grid-item-content > p.grid-item-info-name,
.grid-item-small > div.grid-item-content > p.grid-item-info-name {
    margin-bottom: .2rem !important;
}

.info-grid-item:active, .info-grid-item:focus, .info-grid-item:hover,
.grid-item:active, .grid-item:focus, .grid-item:hover {
    box-shadow: 8px 8px 14px 0px rgb(0, 0, 0) !important;
    transform: scale(1.1, 1.1);
}

.grid-item-content {
    text-align: center;
    margin-top: 0.45rem;
    height: 57%;
}

.grid-entry {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    border: 0px !important;
    border-width: 0px !important;
}

hr.white {
    background: white !important;
    border: 1px solid white !important;
    border-color: white !important;
    opacity: .5 !important;
    margin: auto !important;
    width: 90% !important;
    margin-top: 0.5rem !important;
}

div.sidemenu > button.p-button {
    margin: auto !important;
    width: 90% !important;
    margin-top: .5rem !important;
}

.blackdiv {
    background: black !important;
    border-radius: 25px;
    padding: 25px;
}

.whitediv {
    background: white !important;
    border-radius: 25px;
}

.charts {
    justify-content: center !important;
}

.sidemenu {
    min-width: 215px !important;
    max-width: 215px !important;
    min-height: 110px !important;
    max-height: 110px !important;
    padding: 0px !important;
    margin-right: 4rem !important;
}

.invalid-error {
    color: red !important;
}

#copyright {
    position: relative;
    bottom: 0px;
    color: #fff;
    width: 100%;
    background-color: transparent;
    height: auto !important;
    margin-top: 25px !important;
    justify-content: center;
    align-items: center;
}

#copyright > span > p {
    font-size: small;
    line-height: .1em;
}

#contact {
    min-height: 85vh !important;
}

.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-div-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-div-child {
    display: block;
}

.left-grid-container {
    background-color: transparent;
    border: none;
}
.left-grid {
    padding: 2em;
    height: auto;
    align-items: flex-start;
    justify-content: left;
    background-color: black;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px 25px 25px 25px;
    -moz-box-shadow: 3px 3px 5px #000000FF;
    -webkit-box-shadow: 3px 3px 5px #000000FF;
    box-shadow: 6px 6px 9px #000000FF;
}

.right-grid {
    display: flex !important;
    align-items: flex-start;
    justify-content: left;
    background-color: transparent!important;
    border: none;
    padding: 0 2em 2em !important;
}

.horizontal-center-div {
    margin-top: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#network {
    position: sticky;
    bottom: 0px;
    left: 0px;
    margin-left: .5rem;
}

#network > p.preview {
    color: #df4863 !important;
}

#network > p.mainnet {
    color: #2b90c3 !important;
}

.reward-search {
    float: right;
    height: 35px;
    width: auto;
}

.history-search {
    float: right;
    margin-top: -8px;
    height: 35px;
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.collapsesidemenu {
    width: 35px;
    margin-right: 1em;
    margin-left: 0;
}

.spanlinkDark {
    color: black !important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.spanlinkBlue {
    color: #8dc0d3 !important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a.spanlinkBlue:hover,
a.spanlinkBlue:focus,
a.spanlinkBlue.active {
    outline: 0 !important;
    color: #df4863 !important;
}

.faq-section {
    width: 100%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    min-height: 100vh !important;
    height: auto !important;
}

dl.faq {
    width: 100% !important;
}

dl.faq button {
    cursor: pointer;
    display: flex !important;
    margin-left: 0;
    margin-right: 0;
    margin-top: 16px;
    padding: 4px 8px;
    font-size: 20px;
    text-align: left !important;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    color: #2b90c3 !important;
    font-weight: bold;
    width: 100% !important;
    -webkit-transition: background .25s ease-in-out, padding .25s ease-in-out;
    -moz-transition: background .25s ease-in-out, padding .25s ease-in-out;
    transition: background .25s ease-in-out, padding .25s ease-in-out;
}

dd {
    margin: 0;
    padding: 0;
    margin-left: 1.5em;
}

dl.faq .desc {
    margin-top: 25px;
    display: block;
    border: 2px solid #000000;
    color: white;
    background-color: transparent !important;
    position: relative;
    top: 0px;
    right: 0px;
}

dl.faq button:hover,
dl.faq button:focus {
    background-color: #061c35 !important;
    color: #df4863 !important;
    cursor: pointer;
}

.faq-hide {
    margin-top: 0px!important;
    max-height: 0;
    opacity: 0;
    transition: margin-top 1s, opacity .75s, max-height .75s ease-out;
    overflow: hidden;
}

.faq-show {
    margin-top: 25px!important;
    max-height: 500px;
    opacity: 1;
    transition: margin-top 1s, opacity 4s, max-height 1s ease-in;
}

.info-text-end {
    text-align: right;
}

.info-right {
    display: flex;
    padding-left: 33vw;
    float: right;
}

.info-left {
    display: flex;
    padding-right: 33vw;
    float: left;
}

.info-view {
    width: 90vw;
    min-height: 100vh;
    height: auto;
    margin-top: 3.25rem !important;
}

.info-header {
    display: flex;
    width: 90vw;
}

.info-text {
    font-size: 19px;
    display: block !important;
}

.data-view {
    width: 75vw;
    min-height: 100vh;
    height: auto;
}

.data-header {
    display: flex;
    width: 75vw;
}

.token-pool-header {
    display: flex;
    width: 50vw;
}

.claimall {
    width: auto;
    margin-left: auto;
}

.tos-modal {
    width: 800px;
    height: 80vh !important;
}

.tos-dialog {
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    pointer-events: none;
    justify-content: center;
    display: flex;
}