@media only screen and (max-device-width: 1160px) {
    .rewards-view {
        width: 90vw !important;
    }

    .blinking20 {
        height: 128px !important;
        width: 333px !important;
    }

    .claimall {
        width: auto !important;
        margin-left: 1em !important;
        mergin-right: auto !important;
    }

    .intro .intro-body .brand-heading {
        font-size: 74px !important;
        text-shadow: 4px .4rem .4rem #000000 !important;
    }

    .p-datatable .p-datatable-tbody > tr > td {
        padding: 0.1rem 0.1rem !important;
    }

    .p-datatable .p-datatable-thead > tr > th {
        padding: 0.1rem 0.1rem !important;
    }
}

@media only screen and (max-device-width: 800px) {
    /* styles for mobile browsers smaller than 480px !important; (iPhone) */
    dl.faq button {
        font-size: 14px;
    }

    .tos-modal {
        width: 100vw !important;
    }

    .btn-circle {
        width: 50px !important;
        height: 50px !important;
        margin-top: 12px !important;
        padding: 2px 12px !important;
        border: 2px solid #fff !important;
        font-size: 31px !important;
    }
}

@media only screen and (max-device-width: 900px) {

    .blinking20 {
        height: 116px !important;
        width: 300px !important;
    }

    .banner-social-buttons {
        display: block !important;
    }

    .banner-social-buttons > li {
        margin-bottom: 15px !important;
        margin-left: 0 !important;
    }

    #copyright > span > p {
        font-size: 10px !important;
    }

    .intro .intro-body .brand-heading {
        font-size: 56px !important;
        text-shadow: 4px .4rem .4rem #000000 !important;
    }

    dl.faq .desc {
        font-size: small !important;
    }

    .toggleButton {
        font-size: 16px !important;
    }

    .fa-solid {
        line-height: inherit !important;
    }

    dd {
        margin-left: .5em !important;
    }
}

@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px !important; (iPhone) */
    .intro .intro-body .brand-heading {
        font-size: 28px;
        text-shadow: 3px .3rem .3rem #000000;
    }
}