<section #meld id="meld" class="extension-section">
    <div class="meld-top-div">
        <img class="meld-img-logo" src="/assets/extensions/meld/meld-logo.png"
             title="Single click to go to Meld, double click to toggle full screen" (click)="toggleFullScreen()">
    </div>
    <div class="meld-middle-div">
        <div class="sidebyside">
            <div *ngIf="compressed" class="meld-right-grid" style="display: block !important">
                <img class="meld-img-mint-bm" src="/assets/extensions/meld/mint-bm.png">
            </div>
            <div class="meld-left-grid">
                <ul class="meld-ul">
                    <li *ngIf="!walletLoaded" style="display: block;{{compressed ? '': 'margin-top:1em!important'}}" class="meld-li">
                        <button pButton class="p-button-rounded p-button-text no-ul meld-action-button"
                                [title]="'Connect your Meld ISPO or a payment Wallet'"
                                (click)="connectWallet()" label="1. CONNECT YOUR WALLET" [loading]="walletLoading"
                                iconPos="right">
                        </button>
                        <p class="mt-1 mb-0 meld-subtext">Connect the wallet you used to participate in the MELD
                            ISPO, or a payment wallet.</p>
                    </li>
                    <li *ngIf="walletLoaded" style="margin-top:1em!important" class="meld-li">
                        <button pButton class="p-button-rounded p-button-text no-ul meld-success-button"
                                [title]="'Connected'" style="margin-top:0!important"
                                label="CONNECTED {{shortWalletAddress}}"
                                (click)="connectWallet()" icon="fa-solid fa-check" iconPos="right">
                        </button>
                        <p class="mt-1 mb-0 meld-subtext"></p>
                    </li>
                    <li *ngIf="walletLoaded && checkingVerification" style="display: flex" class="meld-li">
                        <div style="display: block !important">
                            <button pButton class="p-button-rounded p-button-text no-ul meld-action-button"
                                    [title]="'2. Verifying your wallet against the Meld ISPO list'"
                                    label="2. VERIFYING WALLET" [loading]="checkingVerification" iconPos="right">
                            </button>
                        </div>
                    </li>
                    <li *ngIf="walletLoaded && !checkingVerification && !walletVerified && requiresVerification"
                        style="display: flex"
                        class="meld-li">
                        <div style="display: block !important">
                            <input class="p-button-rounded p-button-outlined no-ul meld-input"
                                   [ngClass]="invalidAddress ? 'invalid-error' : ''"
                                   (keyup)="checkAddress()" (change)="checkAddress()"
                                   [(ngModel)]="manualAddress"
                                   [title]="'Enter your Meld ISPO wallet address'"
                                   [placeholder]="'2. Enter your Meld ISPO wallet address'"/>
                            <p class="mt-1 mb-0 meld-subtext">The connected wallet and/or address given is
                                not a registered wallet for the Meld ISPO. Enter a valid Meld ISPO wallet address.</p>
                        </div>
                        <div style="display: block !important">
                        </div>
                    </li>
                    <li *ngIf="walletVerified" style="display: flex" class="meld-li">
                        <div style="display: block !important">
                            <button pButton class="p-button-rounded p-button-text no-ul meld-success-button"
                                    [title]="'Verified'" style="max-width: 350px" label="2. VERIFIED"
                                    icon="fa-solid fa-check" iconPos="right">
                            </button>
                            <p class="mt-1 mb-0 meld-subtext"></p>
                        </div>
                    </li>
                    <li *ngIf="walletVerified" style="display: flex" class="meld-li">
                        <div style="display: block !important">
                            <strong>3.2 ADA</strong>
                            <p class="mt-0 mb-0 meld-subtext">Minting fee to be paid by the connected wallet.</p>
                        </div>
                    </li>
                    <li *ngIf="walletVerified && !mintFinalized" style="display: flex" class="meld-li">
                        <div style="display: block !important">
                            <button pButton class="p-button-rounded p-button-text no-ul meld-action-button"
                                    [title]="'Mint your Bank Manager NFT'" style="max-width: 350px" iconPos="right"
                                    (click)="mintBankManager()" [loading]="isMinting" label="4. MINT BANK MANAGER NFT">
                            </button>
                            <p class="mt-1 meld-subtext">By submitting and signing the transaction, you are confirming
                                that
                                you are paying for the minting of the MELD Bank Manager NFT. Once minted it will be sent
                                to
                                the supplied ISPO address (no exceptions).</p>
                        </div>
                    </li>
                    <li *ngIf="walletVerified && mintFinalized" style="display: flex" class="meld-li">
                        <div style="display: block !important">
                            <button pButton class="p-button-rounded p-button-text no-ul meld-success-button"
                                    [title]="'Your Bank Manager NFT has been minted!'" style="max-width: 350px"
                                    iconPos="right"
                                    label="MINT SUCCESSFUL">
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
            <div *ngIf="!compressed" class="meld-right-grid" style="display: block !important">
                <img class="meld-img-mint-bm" src="/assets/extensions/meld/mint-bm.png">
            </div>
        </div>
    </div>
    <div class="meld-bottom-div" style="display: flex!important;">
        <img class="meld-img-freeloaderz" title="SmartClaimz" src="/assets/extensions/meld/poweredby.svg"
             (click)="routeFreeloaderz()">
        <img class="meld-img-bank-mgr" src="/assets/extensions/meld/bm_mint.png">
    </div>
</section>
