<section #meld id="meld" class="extension-section">
    <div class="sidebyside">
        <div class="meld-left-grid">
            <img class="meld-img-logo" src="/assets/extensions/meld/meld-logo.png" title="Single click to go to Meld, double click to toggle full screen" (click)="toggleFullScreen()">
        </div>
        <div class="meld-right-grid">
            <span class="meld-title">MELD BANK MANAGER MINTING</span>
        </div>
    </div>
    <div>
        <img class="meld-img-bank-mgr" src="/assets/extensions/meld/bank-manager-q.png">
        <img class="meld-img-smartclaimz" title="SmartClaimz" src="/assets/powered-by-smartclaimz.png" (click)="routeSmartClaimz()">
    </div>
</section>