<section id="rewards" class="content-section">
    <div class="center-div-parent">
        <div class="center-div-child">
            <div *ngIf="listingTokens" style="width: 70vw;height: 100vh">
                <h4 style="display:flex"><img width="24" height="24" src="../../../assets/smartclaimz.ico"
                                              class="request-spinner ms-2"
                                              style="display:flex;margin: 0 !important;">
                    <span class="ms-2" style="display:flex; float: left">Searching for tokens...</span></h4>
            </div>
            <div *ngIf="!listingTokens" class="data-view">
                <div class="data-header">
                    <h4>Available Rewards</h4>
                    <button *ngIf="tokens.length > 1 && !selectAll" pButton
                            title="Claim All" [disabled]="!walletLoaded || submittingTx"
                            (click)="toggleSelectAll()"
                            class="p-button p-button-rounded p-button-primary me-2 claimall"
                            label="Claim All" icon="fa-solid fa-square">
                    </button>
                    <button *ngIf="tokens.length > 1 && selectAll" pButton
                            title="Claim All" [disabled]="!walletLoaded || submittingTx"
                            (click)="toggleSelectAll()"
                            class="p-button p-button-rounded p-button-success me-2 claimall"
                            label="Claim All" icon="fa-solid fa-square-check">
                    </button>

                </div>
                <p-dataView #tokenView [value]="tokens" layout="grid" filterBy="displayName"
                            [rows]="maxItems" (onFilter)="onFilter($event, tokenView)"
                            [paginator]="showPaging" [filterBy]="['displayName']">
                    <ng-template let-token pTemplate="gridItem">
                        <div class="">
                            <div class="grid-item {{smallGrid ? 'grid-item-small' : ''}}">
                                <div class="grid-item-top">
                                    <span class="ms-2">{{token.amount}} available</span>
                                </div>
                                <div class="grid-item-content">
                                    <img src="../../../assets/ada.png">
                                    <p class="grid-item-token-name">{{token.displayName}}</p>
                                </div>
                                <div class="grid-item-bottom">
                                    <button *ngIf="!token.selected" pButton
                                            title="Claim Token" [disabled]="!walletLoaded || submittingTx"
                                            (click)="toggleSelect(token)"
                                            class="p-button p-button-rounded p-button-primary ms-auto me-auto mb-2"
                                            label="Claim Token" icon="fa-solid fa-square">
                                    </button>
                                    <button *ngIf="token.selected" pButton
                                            title="Claim Token" [disabled]="!walletLoaded || submittingTx"
                                            (click)="toggleSelect(token)"
                                            class="p-button p-button-rounded p-button-success ms-auto me-auto mb-2"
                                            label="Claim Token" icon="fa-solid fa-square-check">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="empty">
                        <h4 *ngIf="walletLoaded">No tokens available to be claimed</h4>
                        <h4 *ngIf="!walletLoaded" style="display:flex"><img width="24" height="24"
                                                                            src="../../../assets/smartclaimz.ico"
                                                                            class="request-spinner ms-2"
                                                                            style="display:flex;margin: 0 !important;">
                            <span class="ms-2" style="display:flex; float: left">Loading wallet...</span></h4>
                    </ng-template>
                </p-dataView>
                <button *ngIf="selectedTokens.size > 0" pButton
                        title="Submit Claimz" [loading]="!walletLoaded || submittingTx"
                        (click)="claimSelectedTokens()"
                        class="p-button p-button-rounded p-button-primary mt-3"
                        style="margin-left: 1.7rem"
                        label="Submit Claimz" icon="fa-solid fa-bolt-lightning">
                </button>
            </div>
        </div>
    </div>
</section>
<ng-template #notificationTemplate let-notificationData="notification">
    <p class="notifier__notification-message" [innerHTML]="notificationData.message"></p>
</ng-template>