<section id="rewards" class="content-section">
    <div class="center-div-parent">
        <div class="center-div-child">
            <div *ngIf="listingPools" style="width: 70vw;height: 100vh">
                <h4 style="display:flex"><img width="24" height="24" src="../../../assets/smartclaimz.ico"
                                              class="request-spinner ms-2"
                                              style="display:flex;margin: 0 !important;">
                    <span class="ms-2" style="display:flex; float: left">Searching for pools...</span></h4>
            </div>
            <div *ngIf="!listingPools" class="data-view">
                <pools [pools]="pools"></pools>
            </div>
        </div>
    </div>
</section>
