<section id="tokenMetadata" class="content-section">
    <div class="container ms-auto me-auto">
        <h4>Explore the Tokens!</h4>
        <div class="blackdiv" style="padding-top: 0px;">
            <p-orderList [value]="listAllTokens" filterBy="name" filterPlaceholder="Filter by name" [dragdrop]="true">
                <ng-template class="token-container" pTemplate="body" let-rowData>
                    <div class="token-item">
                        <div class="image-container">
                            <img src="data:image/png;base64,{{rowData.logo}}">
                        </div>
                        <div class="token-list-name">
                            <h5 style="margin-left: .5rem; color: blue">{{rowData.name}}</h5>
                            <p style="margin-left: .5rem;">{{rowData.description}}</p>

                        </div>
                        <div class="token-list-detail">
                            <p style="margin-right: 1.5rem; font-size: x-small;"><a class="spanlinkMetadata" target="_blank" href="https://cardanoscan.io/token/{{rowData.policy}}">{{getPolicyIdSubstring()}}</a></p>
                        </div>
                        <div class="token-list-action">
                            <!-- <h5 style="color: blue;">Website</h5> -->
                            <p style="margin-right: 1rem;"><a class="spanlinkMetadata" target="_blank" href="{{rowData.url}}">{{rowData.url}}</a></p>
                        </div>
                    </div>
                </ng-template>
            </p-orderList>  
        </div>
    </div>
</section>
