<section id="tokenMetadata" class="content-section">
    <div class="container ms-auto me-auto">
        <h4>Explore the Tokens!</h4>
        <div class="blackdiv" style="padding-top: 0px;">
            <p-orderList [value]="listAllTokens" filterBy="name" filterPlaceholder="Filter by name" [dragdrop]="true">
                <ng-template class="token-container" pTemplate="body" let-listAllTokens>
                    <div class="token-item">
                        <div class="image-container">
                            <h5>{{listAllTokens.name}}</h5>
                            <img src="data:image/png;base64,{{listAllTokens.logo}}">
                        </div>
                        <div class="token-list-detail">
                            <p><a class="spanlinkBlue" target="_blank" href="{{listAllTokens.url}}">{{listAllTokens.url}}</a></p>
                            <p><a class="spanlinkBlue" target="_blank" style="font-size: x-small;" href="https://cardanoscan.io/token/{{listAllTokens.policy}}">{{listAllTokens.policy}}</a></p>
                        </div>
                    </div>
                </ng-template>
            </p-orderList>  
        </div>
    </div>
</section>
