.meld-img-logo {
    cursor: pointer !important;
    margin-left: -39px;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: auto;
}

img.meld-img-logo {
    display: unset !important;
}

.meld-img-bank-mgr {
    position: fixed;
    right: 0px!important;
    bottom: 0px!important;
    z-index: -1!important;
}

.meld-img-mint-bm {
    margin-top: 0;
    margin-left: 0!important;
}

.meld-img-freeloaderz {
    position: fixed;
    bottom: 30px;
    cursor: pointer !important;
}
.meld-top-div {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 20vh;
    align-items: flex-start;
    justify-content: left;
}
.meld-middle-div {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 60vh;
    align-items: flex-start;
    justify-content: left;
}
.meld-bottom-div {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 20vh;
    align-items: flex-start;
    justify-content: left;
}

.meld-left-grid {
    width: 38vw;
    height: 60vh;
    margin-right: 2vw;
    align-items: flex-start;
    justify-content: left;
}

.meld-right-grid {
    display: flex !important;
    width: 38vw;
    height: 60vh;
    margin-left: 2vw;
    align-items: flex-start;
    justify-content: left;
}

.meld-ul {
    list-style-type: none;
    padding: 0 !important;
    margin: 0 !important;
}

.meld-error-button,
.meld-error-button > span {
    color: white;
    background-color: red !important;
}

.meld-success-button,
.meld-success-button > span {
    color: white;
    background-color: #04BA00 !important;
}

.meld-error-button,
.meld-error-button > span,
.meld-success-button,
.meld-success-button > span {
    margin-left: 0rem;
    font-size: large;
    font-weight: bolder;
    border: 0;
    pointer-events: none !important;
}

.meld-error-button > span.p-button-icon,
.meld-success-button > span.p-button-icon {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0;
    margin-right: 0;
}

.meld-action-button,
.meld-success-button,
.meld-error-button,
.meld-input {
    width: 33vw;
    min-width: 300px!important;
    height: 59.17px;
    text-align: left!important;
    line-height: 100px;
    letter-spacing: 0.04em;
}

.meld-input {
    padding-left: 1rem;
    padding-right: 1rem;
}

.meld-action-button,
.meld-action-button > span {
    margin: 0;
    color: #AF0941;
    background-color: white !important;
    border: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.meld-action-button:active, .meld-action-button:hover, .meld-action-button:focus,
.meld-action-button:active > span, .meld-action-button:hover > span, .meld-action-button:focus > span {
    color: #4800A5 !important;
}

.meld-ul > li {
    display: block;
    margin-left: 0 !important;
    padding: 0 !important;
}

.meld-li {
    margin-top: 3em;
}

.fa-xmark,
.fa-arrow-right-to-bracket {
    color: white !important;
}

.meld-subtext {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: smaller;
    width: 33vw;
    min-width: 300px!important;
}

.meld-disconnect-div {
    margin-left: 95px;
    display: block !important;
}
body.meld-bg .meld-action-button .p-button-label {
    font-family: 'BRHendrix-Bold';
    font-size: x-large;
    line-height: 100px;
    padding-top: 4px;
    letter-spacing: 0.04em;
    color: #AF0941;
    background-color: white !important;
}
