.meld-title {
    margin-top: 21px;
    display: flex;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    color: #FFFFFF;
    margin-bottom: 3rem;
}

.meld-img-logo {
    cursor: pointer !important;
    margin-left: -39px;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: auto;
}

img.meld-img-logo {
    display: unset !important;
}

.meld-img-bank-mgr {
    position: fixed;
    right: 0px!important;
    bottom: 0px!important;
    z-index: -1!important;
}

.meld-img-mint-bm {
    position: relative;
    top: 15vh;
    left: 0;
    margin-left: 0!important;
}

.meld-img-freeloaderz {
    position: fixed;
    bottom: 30px;
    left: 4em;
    cursor: pointer !important;
}
.meld-top {
    width: 100vw;
    margin-left: 4em;
    height: 130px;
    align-items: flex-start;
    justify-content: left;
}
.meld-left-grid {
    width: 50vw;
    margin-left: 4em;
    height: 100vh;
    align-items: flex-start;
    justify-content: left;
}

.meld-right-grid {
    display: flex !important;
    width: 50vw;
    height: 100vh;
    align-items: flex-start;
    justify-content: left;
}

.meld-ul {
    list-style-type: none;
    padding: 0 !important;
    margin: 0 !important;
}

.meld-fake-button {
    max-height: 48px;
    margin-right: 3rem;
    font-size: x-large;
    font-weight: bolder;
    color: white !important;
    pointer-events: none !important;
}

.meld-error-button,
.meld-error-button > span {
    color: white;
    background-color: red !important;
}

.meld-success-button,
.meld-success-button > span {
    color: white;
    background-color: #04BA00 !important;
}

.meld-error-button,
.meld-error-button > span,
.meld-success-button,
.meld-success-button > span {
    margin-left: 0rem;
    font-size: large;
    font-weight: bolder;
    border: 0;
    pointer-events: none !important;
}

.meld-error-button > span.p-button-icon,
.meld-success-button > span.p-button-icon {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.meld-action-button,
.meld-success-button,
.meld-error-button {
    width: 624px;
    height: 59.17px;
    text-align: left!important;
    line-height: 100px;
    letter-spacing: 0.04em;
}

.meld-input {
    max-width: 624px;
    height: 59.17px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.meld-action-button,
.meld-action-button > span {
    margin: 0;
    font-family: 'BRHendrix-Bold';
    font-size: 24px;
    font-weight: 700;
    color: #AF0941;
    background-color: white !important;
    border: 0;
}

.meld-action-button:active, .meld-action-button:hover, .meld-action-button:focus,
.meld-action-button:active > span, .meld-action-button:hover > span, .meld-action-button:focus > span {
    color: #4800A5 !important;
}

.meld-ul > li {
    width: 383.38px;
    height: 33.82px;
    display: block;
    margin-left: 0 !important;
    padding: 0 !important;
}

.meld-li {
    margin-top: 3em;
}

.fa-xmark,
.fa-arrow-right-to-bracket {
    color: white !important;
}

.meld-subtext {
    font-size: smaller;
}

.meld-disconnect-div {
    margin-left: 95px;
    display: block !important;
}
