@media only screen and (orientation: portrait) and (max-device-width: 1000px) and (max-device-height: 1400px) {
    .sidebyside {
        display: block !important;
    }
    .meld-img-mint-bm {
        width: 450px!important;
    }

    .meld-img-logo {
    }

    .meld-li {
        margin-top: 2em;
    }

    .meld-img-freeloaderz {
    }

    .meld-img-bank-mgr {
        width: 450px;
    }

    .meld-subtext {
        font-size: small;
    }

    .meld-top-div {
        height: 12vh;
    }

    .meld-middle-div {
        margin-left: 10vw;
        margin-right: 10vw;
        height: 80vh;
    }

    .meld-bottom-div {
        height: 8vh;
        margin-left: 10vw;
    }

    .meld-left-grid,
    .meld-right-grid {
        width: 80vw;
    }

    .meld-right-grid {
        height: 20vh;
    }
    .meld-left-grid {
        height: 60vh;
    }
    .meld-action-button,
    .meld-success-button,
    .meld-error-button,
    .meld-subtext,
    .meld-input {
        width: 80vw;
    }
    .p-button {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
        font-size: medium!important;
    }
    input {
        font-size: medium!important;
    }
}

@media only screen and (orientation: portrait) and (max-device-width: 1000px) and (max-device-height: 1200px) {
    .sidebyside {
        display: block !important;
    }
    .meld-img-mint-bm {
        width: 450px!important;
    }

    .meld-img-logo {
    }

    .meld-li {
        margin-top: 1em;
    }

    .meld-img-freeloaderz {
    }

    .meld-img-bank-mgr {
        width: 400px;
    }

    .meld-subtext {
        font-size: small;
    }

    .meld-top-div {
        height: 12vh;
    }

    .meld-middle-div {
        margin-left: 10vw;
        margin-right: 10vw;
        height: 80vh;
    }

    .meld-bottom-div {
        height: 8vh;
        margin-left: 10vw;
    }

    .meld-left-grid,
    .meld-right-grid {
        width: 80vw;
    }

    .meld-right-grid {
        height: 25vh;
    }
    .meld-left-grid {
        height: 55vh;
    }
    .meld-action-button,
    .meld-success-button,
    .meld-error-button,
    .meld-subtext,
    .meld-input {
        width: 80vw;
    }
    .p-button {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
        font-size: medium!important;
    }
    input {
        font-size: medium!important;
    }

}
@media only screen and (orientation: portrait) and (max-device-width: 800px) and (max-device-height: 1200px) {
    .sidebyside {
        display: block !important;
    }
    .meld-img-mint-bm {
        width: 400px!important;
    }

    .meld-img-logo {
    }

    .meld-li {
        margin-top: 1em;
    }

    .meld-img-freeloaderz {
    }

    .meld-img-bank-mgr {
        width: 400px;
    }

    .meld-subtext {
        font-size: small;
    }

    .meld-top-div {
        height: 12vh;
    }

    .meld-middle-div {
        margin-left: 10vw;
        margin-right: 10vw;
        height: 80vh;
    }

    .meld-bottom-div {
        height: 8vh;
        margin-left: 10vw;
    }

    .meld-left-grid,
    .meld-right-grid {
        width: 80vw;
    }

    .meld-right-grid {
        height: 25vh;
    }
    .meld-left-grid {
        height: 55vh;
    }
    .meld-action-button,
    .meld-success-button,
    .meld-error-button,
    .meld-subtext,
    .meld-input {
        width: 80vw;
    }
    .p-button {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
        font-size: medium!important;
    }
    input {
        font-size: medium!important;
    }

}
@media only screen and (orientation: portrait) and (max-device-width: 599px) and (max-device-height: 1000px) {
    .sidebyside {
        display: block !important;
    }

    .meld-img-mint-bm {
        width: 350px!important;
    }

    .meld-img-logo {
        width: 120px;
    }

    .meld-li {
        margin-top: 1em;
    }

    .meld-img-freeloaderz {
        width: 128px;
    }

    .meld-img-bank-mgr {
        width: 300px;
    }

    .meld-subtext {
        font-size: small;
    }

    .meld-top-div {
        height: 8vh;
    }

    .meld-middle-div {
        margin-left: 5vw;
        margin-right: 5vw;
        height: 84vh;
    }

    .meld-bottom-div {
        height: 8vh;
        margin-left: 5vw;
    }

    .meld-left-grid,
    .meld-right-grid {
        width: 90vw;
    }

    .meld-right-grid {
        height: 25vh;
    }
    .meld-left-grid {
        height: 55vh;
    }
    .meld-action-button,
    .meld-success-button,
    .meld-error-button,
    .meld-subtext,
    .meld-input {
        width: 85vw;
    }
    .p-button {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
        font-size: medium!important;
    }
    input {
        font-size: medium!important;
    }

}

@media only screen and (orientation: portrait) and (max-device-width: 599px) and (max-device-height: 800px) {
    .sidebyside {
        display: block !important;
    }

    .meld-img-mint-bm {
        width: 300px!important;
    }

    .meld-img-logo {
        width: 120px;
    }

    .meld-li {
        margin-top: 1em;
    }

    .meld-img-freeloaderz {
        width: 128px;
    }

    .meld-img-bank-mgr {
        width: 300px;
    }

    .meld-subtext {
        font-size: small;
    }

    .meld-top-div {
        height: 10vh;
    }

    .meld-middle-div {
        margin-left: 5vw;
        margin-right: 5vw;
        height: 82vh;
    }

    .meld-bottom-div {
        height: 8vh;
        margin-left: 5vw;
    }

    .meld-left-grid,
    .meld-right-grid {
        width: 90vw;
    }

    .meld-right-grid {
        height: 25vh;
    }
    .meld-left-grid {
        height: 55vh;
    }
    .meld-action-button,
    .meld-success-button,
    .meld-error-button,
    .meld-subtext,
    .meld-input {
        width: 85vw;
    }
    .p-button {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
        font-size: medium!important;
    }
    input {
        font-size: medium!important;
    }
}

@media only screen and (orientation: portrait) and (max-device-height: 800px) and (max-device-width: 400px) {
    .sidebyside {
        display: block !important;
    }

    .meld-img-mint-bm {
        width: 300px!important;
    }

    .meld-img-logo {
        width: 120px;
    }

    .meld-li {
        margin-top: 1em;
    }

    .meld-img-freeloaderz {
        width: 128px;
    }

    .meld-img-bank-mgr {
        width: 250px;
    }

    .meld-subtext {
        font-size: small;
    }

    .meld-top-div {
        height: 12vh;
    }

    .meld-middle-div {
        margin-left: 5vw;
        margin-right: 5vw;
        height: 80vh;
    }

    .meld-bottom-div {
        height: 8vh;
        margin-left: 5vw;
    }

    .meld-left-grid,
    .meld-right-grid {
        width: 90vw;
    }

    .meld-right-grid {
        height: 25vh;
    }
    .meld-left-grid {
        height: 55vh;
    }
    .meld-action-button,
    .meld-success-button,
    .meld-error-button,
    .meld-subtext,
    .meld-input  {
        width: 90vw;
    }
    .p-button {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
        font-size: medium!important;
    }
    input {
        font-size: medium!important;
    }
}
@media only screen and (orientation: landscape) and (max-device-height: 1400px) and (max-device-width: 2000px) {
    .meld-img-mint-bm {
        width: 600px !important;
    }

    .meld-img-logo {
    }

    .meld-li {
    }

    .meld-img-freeloaderz {
    }

    .meld-img-bank-mgr {
        width: 600px !important;
    }
}

@media only screen and (orientation: landscape) and (max-device-height: 1000px) and (max-device-width: 1200px) {
    .meld-img-mint-bm {
        width: 500px!important;
    }

    .meld-img-logo {
    }

    .meld-li {
        margin-top: 1em;
    }

    .meld-img-freeloaderz {
    }

    .meld-img-bank-mgr {
    }

    .meld-subtext {
        font-size: small;
    }

    .meld-top-div {
        height: 15vh;
    }

    .meld-middle-div {
        margin-left: 10vw;
        margin-right: 10vw;
        height: 70vh;
    }

    .meld-bottom-div {
        height: 15vh;
        margin-left: 10vw;
    }

    .meld-left-grid,
    .meld-right-grid {
        width: 40vw;
    }

    .meld-right-grid {
        height: 80vh;
    }
    .meld-left-grid {
        height: 80vh;
    }
    .meld-action-button,
    .meld-success-button,
    .meld-error-button,
    .meld-subtext,
    .meld-input  {
        width: 33vw;
    }
}
@media only screen and (orientation: landscape) and (max-device-height: 800px) and (max-device-width: 1024px) {
    .meld-img-mint-bm {
        width: 400px!important;
    }

    .meld-img-logo {
    }

    .meld-li {
        margin-top: 1em;
    }

    .meld-img-freeloaderz {
    }

    .meld-img-bank-mgr {
        width: 400px!important;
    }

    .meld-subtext {
        font-size: small;
    }

    .meld-top-div {
        height: 15vh;
    }

    .meld-middle-div {
        margin-left: 10vw;
        margin-right: 10vw;
        height: 70vh;
    }

    .meld-bottom-div {
        height: 15vh;
        margin-left: 10vw;
    }

    .meld-left-grid,
    .meld-right-grid {
        width: 40vw;
    }

    .meld-right-grid {
        height: 80vh;
    }
    .meld-left-grid {
        height: 80vh;
    }
    .meld-action-button,
    .meld-success-button,
    .meld-error-button,
    .meld-subtext,
    .meld-input  {
        width: 40vw;
    }
}

@media only screen and (orientation: landscape) and (max-device-height: 599px) and (max-device-width: 1000px) {
    .sidebyside {
        display: block !important;
    }
    .meld-img-mint-bm {
        width: 400px!important;
    }

    .meld-img-logo {
        width: 150px!important;
    }

    .meld-li {
        margin-top: 1em;
    }

    .meld-img-freeloaderz {
        width: 100px!important;
    }

    .meld-img-bank-mgr {
        width: 350px!important;
    }

    .meld-subtext {
        font-size: small;
    }

    .meld-top-div {
        margin-left: 5vw;
        height: 25vh;
    }

    .meld-middle-div {
        margin-left: 5vw;
        margin-right: 5vw;
        height: 200vh;
    }

    .meld-bottom-div {
        height: 15vh;
        margin-left: 5vw;
    }

    .meld-left-grid,
    .meld-right-grid {
        width: 45vw;
    }

    .meld-right-grid {
        height: 75vh;
    }
    .meld-left-grid {
        height: 100vh;
    }
    .meld-action-button,
    .meld-success-button,
    .meld-error-button,
    .meld-subtext,
    .meld-input  {
        width: 45vw;
    }
    .p-button {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
        font-size: medium!important;
    }
    input {
        font-size: medium!important;
    }
}

@media only screen and (orientation: landscape) and (max-device-height: 400px) and (max-device-width: 800px) {
    .sidebyside {
        display: block !important;
    }

    .meld-img-mint-bm {
        width: 350px!important;
    }

    .meld-img-logo {
        width: 150px!important;
    }

    .meld-li {
        margin-top: 1em;
    }

    .meld-img-freeloaderz {
        width: 100px!important;
    }

    .meld-img-bank-mgr {
        width: 350px!important;
    }

    .meld-subtext {
        font-size: small;
    }

    .meld-top-div {
        margin-left: 8vw;
        height: 25vh;
    }

    .meld-middle-div {
        margin-left: 5vw;
        margin-right: 5vw;
        height: 100vh;
    }

    .meld-bottom-div {
        height: 15vh;
        margin-left: 5vw;
    }

    .meld-left-grid,
    .meld-right-grid {
        width: 90vw;
    }

    .meld-right-grid {
        height: 75vh;
    }
    .meld-left-grid {
        height: 100vh;
    }
    .meld-action-button,
    .meld-success-button,
    .meld-error-button,
    .meld-subtext,
    .meld-input  {
        width: 50vw;
    }
    .p-button {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
        font-size: medium!important;
    }
    input {
        font-size: medium!important;
    }
}

@media only screen and (max-device-width: 1180px) {
    .p-button {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
        font-size: large!important;
    }
    input {
        font-size: large!important;
    }
}
@media only screen and (max-device-width: 1024px) {
    .p-button {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
        font-size: medium!important;
    }
    input {
        font-size: medium!important;
    }
}
@media only screen and (max-device-width: 800px) {
    .p-button {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
        font-size: small!important;
    }
    input {
        font-size: small!important;
    }
}
