<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <h1 class="brand-heading">Welcome to SmartClaimz</h1>
                <p class="intro-text">A Freeloaderz Project<br>
                    <a (click)="scrollToElement('info')" class="btn btn-circle page-scroll">
                        <i class="fa-solid fa-angle-double-down animated"></i>
                    </a>
            </div>
        </div>
    </div>
</header>
<info></info>
