<section id="contact" class="container content-section text-center" style="height: 200px !important">
    <div class="row">
        <h2>Contact</h2>
        <p></p>
        <p><a href="mailto:info@freeloaderz.io">info@freeloaderz.io</a>
        </p>
        <ul class="list-inline banner-social-buttons">
            <li>
                <a href="https://twitter.com/Freeloaderz2022" target="_blank" class="btn btn-default btn-lg"><i
                        class="fab fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
            </li>
        </ul>
    </div>
</section>
<section id="copyright" class="container content-section text-center" style="height: 50px !important">
    <p>Copyright &copy;{{ year }} Freeloaderz.  All Rights Reserved.</p>
</section>
