<section id="testnet" class="ms-5 me-5 content-section">
    <div class="sidebyside">
        <div class="ms-2 me-2" style="min-width: 200px !important;max-width: 200px !important; ">
        </div>
        <div class="sidebar-content ms-5" style="padding-top: 0px !important;">
            <h4>Testnet Tools</h4>
            <div class="blackdiv sidebar-content mt-1" style="min-width: 50vw !important;max-width: 50vw !important">
                <button pButton
                        title="Generate rewards for my Stake address"
                        (click)="generateRewards()" [disabled]="disableGenRewards()"
                        class="p-button p-button-rounded p-button-primary ms-auto me-auto mb-2 mt-2"
                        label="Generate Rewards" icon="fa-solid fa-parachute-box">
                </button>
            </div>
        </div>
    </div>
</section>
