<section id="testnet" class="content-section">
    <div class="center-div-parent">
        <div class="center-div-child">
            <h4>Testnet Tools and Information</h4>
            <div class="blackdiv sidebar-content mt-1"
                 style="min-width: 50vw !important;width: auto;max-width: 90vw !important">
                <div class="mt-2">
                    <p>Instead of waiting for the end of an epoch, you can immediately generate random test rewards for your wallet by using this
                        "Generate Rewards" button.</p>
                    <button pButton [disabled]="!walletLoaded"
                            title="Generate rewards for my Stake address"
                            (click)="generateRewards()" [loading]="submitted"
                            class="p-button p-button-rounded p-button-primary ms-auto me-auto"
                            label="Generate Rewards" icon="fa-solid fa-parachute-box">
                    </button>
                </div>
                <div class="mt-4">
                    <p style="font-size: smaller">**Rewards for each epoch will eventually be automatically calculated.
                        If you don't see your rewards, it may be that the reward script hasn't been run yet.</p>
                </div>
            </div>
        </div>
    </div>
</section>
