<section id="copyright" class="text-center">
    <span *ngIf="compressionLevel() === 0">
    <p>Using Smart Contracts, Tokens, and Crypto is always a risk. Do your own research before using this application.</p>
    <p>Copyright &copy;2022 Freeloaderz DAO LLC. All Rights Reserved.</p>
    </span>
    <span *ngIf="compressionLevel() === 1">
    <p>Using Smart Contracts, Tokens, and Crypto is always a risk.</p>
    <p>Do your own research before using this application.</p>
    <p>Copyright &copy;2022 Freeloaderz DAO LLC. All Rights Reserved.</p>
    </span>
    <span *ngIf="compressionLevel() === 2">
    <p>Using Smart Contracts, Tokens, and Crypto is always a risk.</p>
    <p>Do your own research before using this application.</p>
    <p>Copyright &copy;2022 Freeloaderz DAO LLC.</p>
    <p>All Rights Reserved.</p>
    </span>
</section>
