<section id="dashboard" class="content-section">
    <div class="sidebyside">
        <div class="collapsesidemenu">
            <button *ngIf="sideMenuHidden" pButton class="p-button-text"
                    icon="fa-solid fa-angles-right"
                    (click)="hideSideMenu(false)"
                    title="Show side menu"></button>
            <button *ngIf="!sideMenuHidden" pButton class="p-button-text"
                    icon="fa-solid fa-angles-left"
                    (click)="hideSideMenu(true)"
                    title="Hide side menu"></button>
        </div>
        <div *ngIf="!sideMenuHidden" class="blackdiv sidemenu ms-2 me-2 row">
            <button pButton class="p-button-text no-ul"
                    title="Collect Rewards" id="rewards"
                    (click)="showCollectRewards()"><i class="fa-solid fa-coins me-2"></i>Rewards
            </button>
            <button pButton class="p-button-text no-ul mt-2 mb-2"
                    title="Show reward history" id="history"
                    (click)="showHistory()"><i class="fa-solid fa-clock-rotate-left me-2"></i>Reward History
            </button>
            <div class="mt-auto mb-0" style="height: 100%"></div>
        </div>
        <div class="sidebar-content ms-3" style="padding-top: 0px !important">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>

