<section id="rewards">
    <div style="width: 100%;height: 100%">
        <p-dataView #tokenView [value]="tokens" layout="grid" filterBy="tokenname">
            <ng-template let-token pTemplate="gridItem">
                <div class="ms-auto me-auto" style="padding:0 !important;">
                    <div class="grid-item">
                        <div class="grid-item-top">
                            <span class="ms-2">{{token.amount}} available</span>
                        </div>
                        <div class="grid-item-content">
                            <img src="assets/ada.png">
                            <button *ngIf="!token.selected" pButton
                                    title="Claim Token"
                                    (click)="toggleSelect(token)"
                                    class="p-button p-button-rounded p-button-primary ms-auto me-auto mb-2"
                                    label="Claim Token" icon="fa-solid fa-square">
                            </button>
                            <button *ngIf="token.selected" pButton
                                    title="Claim Token"
                                    (click)="toggleSelect(token)"
                                    class="p-button p-button-rounded p-button-success ms-auto me-auto mb-2"
                                    label="Claim Token" icon="fa-solid fa-square-check">
                            </button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</section>