<section id="contact" class="content-section">
    <div class="contact-info-section">
        <div class="container text-center ms-auto me-auto">
            <h2>Contact</h2>
            <p></p>
            <p><a href="mailto:info@freeloaderz.io">info@freeloaderz.io</a>
            </p>
            <ul class="list-inline banner-social-buttons mt-5">
                <li>
                    <a href="https://twitter.com/Freeloaderz2022" target="_blank" class="btn btn-default btn-lg"><i
                            class="fa-brands fa-twitter fa-fw"></i> <span class="ms-2 network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://linkedin.com/in/chrisenunez" target="_blank" class="btn btn-default btn-lg"><i
                            class="fa-brands fa-linkedin fa-fw"></i> <span class="ms-2 network-name">LinkedIn</span></a>
                </li>
                <li>
                    <a href="https://discord.gg/E98Ghnmqkw" target="_blank" class="btn btn-default btn-lg"><i
                            class="fa-brands fa-discord fa-fw"></i><span class="ms-2 network-name">Discord</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="copyright" class="container content-section text-center" style="height: 50px !important">
    <p>Copyright &copy;{{ year }} anetaBTC. All Rights Reserved.</p>
</section>
