.extension-section {
    color: #fff;
    width: 100%;
    min-height: 100vh !important;
    height: auto !important;
    background-color: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

body.meld-bg {
    background-image: -moz-linear-gradient(233.68deg, #5E135A -2.23%, #D30335 83.5%); /* FF3.6-15 */
    background-image: -webkit-linear-gradient(233.68deg, #5E135A -2.23%, #D30335 83.5%); /* Chrome10-25,Safari5.1-6 */
    background-image: linear-gradient(233.68deg, #5E135A -2.23%, #D30335 83.5%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

bank-manager {
    position: absolute;
    top: 0;
    left: 0;
}
