.extension-section {
    color: #fff;
    width: 100%;
    min-height: 100vh !important;
    height: auto !important;
    background-color: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

body.meld-bg {
    background-image: -moz-linear-gradient(233.68deg, #5E135A -2.23%, #D30335 83.5%); /* FF3.6-15 */
    background-image: -webkit-linear-gradient(233.68deg, #5E135A -2.23%, #D30335 83.5%); /* Chrome10-25,Safari5.1-6 */
    background-image: linear-gradient(233.68deg, #5E135A -2.23%, #D30335 83.5%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

bank-manager {
    position: absolute;
    top: 0;
    left: 0;
}

@font-face {
    font-family: 'BRHendrix-Light';
    src: url('/assets/extensions/meld/fonts/BRHendrix-Light.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BRHendrix-ExtraLight';
    src: url('/assets/extensions/meld/fonts/BRHendrix-ExtraLight.woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'BRHendrix-Black';
    src: url('/assets/extensions/meld/fonts/BRHendrix-Black.woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'BRHendrix-SemiBoldItalic';
    src: url('/assets/extensions/meld/fonts/BRHendrix-SemiBoldItalic.woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'BRHendrix-Regular';
    src: url('/assets/extensions/meld/fonts/BRHendrix-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BRHendrix-Thin';
    src: url('/assets/extensions/meld/fonts/BRHendrix-Thin.woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'BRHendrix-BoldItalic';
    src: url('/assets/extensions/meld/fonts/BRHendrix-BoldItalic.woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'BRHendrix-MediumItalic';
    src: url('/assets/extensions/meld/fonts/BRHendrix-MediumItalic.woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'BRHendrix-ExtraLightItalic';
    src: url('/assets/extensions/meld/fonts/BRHendrix-ExtraLightItalic.woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'BRHendrix-RegularItalic';
    src: url('/assets/extensions/meld/fonts/BRHendrix-RegularItalic.woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BRHendrix-SemiBold';
    src: url('/assets/extensions/meld/fonts/BRHendrix-SemiBold.woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'BRHendrix-BlackItalic';
    src: url('/assets/extensions/meld/fonts/BRHendrix-BlackItalic.woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'BRHendrix-ThinItalic';
    src: url('/assets/extensions/meld/fonts/BRHendrix-ThinItalic.woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'BRHendrix-Bold';
    src: url('/assets/extensions/meld/fonts/BRHendrix-Bold.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BRHendrix-LightItalic';
    src: url('/assets/extensions/meld/fonts/BRHendrix-LightItalic.woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'BRHendrix-Medium';
    src: url('/assets/extensions/meld/fonts/BRHendrix-Medium.woff');
    font-weight: 500;
    font-style: normal;
}
