<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark bg-clear">
    <div class="container-fluid">
        <ul class="navbar-nav ms-2 mb-2">
            <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-home"> HOME</i></a></li>
        </ul>
        <ul *ngIf="!loggedIn()" class="navbar-nav ms-auto me-2 mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" (click)="showLoginModal()"><i class="fas fa-sign-in-alt"> LOGIN/SIGNUP</i></a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#contact"><i class="fas fa-question-circle"> HELP</i></a>
            </li>
        </ul>
        <ul *ngIf="loggedIn()" class="navbar-nav ms-auto me-2 mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/#/wallet"><i class="fas fa-book"> WALLET</i></a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#contact"><i class="fas fa-question-circle"> HELP</i></a>
            </li>
        </ul>
    </div>
</nav>
<div bsModal #notificationModal="bs-modal" class="modal fade" role="dialog" tabindex="-1"
     [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">System Notification</h4>
            </div>
            <div class="modal-body" style="padding: .1em !important;max-height: 200px;overflow-y: auto">
                <span *ngFor="let msg of notificationMessages" class="ms-3">
                    <span *ngIf="notificationError" class="invalid-error">{{msg}}</span>
                    <span *ngIf="!notificationError">{{msg}}</span>
                    <br>
                </span>
            </div>
            <div class="modal-footer">
                <button pButton type="button" class="p-button-secondary" icon="fas fa-times"
                        title="Close"
                        iconPos="left"
                        (click)="hideNotificationModal()"></button>
            </div>
        </div>
    </div>
</div>
<notifier-container></notifier-container>
<div class="container-fluid" style="padding-top: 75px">
    <router-outlet></router-outlet>
    <footer id="footer"></footer>
</div>
