<section id="tokens" class="content-section">
    <div class="center-div-parent">
        <div *ngIf="selectedToken == null" class="center-div-child">
            <div class="data-view">
                <div class="data-header mb-2">
                    <h4>Participating Tokens</h4>
                </div>
                <div class="data-header mb-2 {{smallGrid ? 'div-small' : ''}}">
                    <input pInputText class="ms-2" placeholder="Filter Tokens.."
                           style="float: right;padding-left: 7px !important;padding-right: 7px !important;"
                           type="search" (input)="filterDataView($event.target.value)"
                           (change)="filterDataView($event.target.value)">
                </div>
                <p-dataView #tokenView [value]="tokens" layout="grid"
                            [rows]="maxItems"
                            [paginator]="showPaging" filterBy="displayName,description">
                    <ng-template let-token pTemplate="gridItem">
                        <div class="mt-2">
                            <div class="info-grid-item {{smallGrid ? 'info-grid-item-small' : ''}}">
                                <div class="grid-item-top">
                                    <strong class="ms-auto me-auto">{{token.displayName}}</strong>
                                </div>
                                <div class="grid-item-content">
                                    <img src="{{token.tokenMetadata.logo}}" width="64" height="64"
                                         onerror="this.onerror=null;this.src='/assets/ada.png'">
                                    <p class="mt-3 ms-1 me-1 grid-item-info-name"
                                       title="{{token.tokenMetadata.description}}">{{smallGrid ? token.tokenMetadata.compressedDesc : token.tokenMetadata.shortDesc}}</p>
                                    <p *ngIf="token.tokenMetadata.homepageURL != null">
                                        <a href="{{token.tokenMetadata.homepageURL}}"
                                           target="_blank">{{token.tokenMetadata.homepage}}</a>
                                    </p>
                                </div>
                                <div class="grid-item-bottom">
                                    <button pButton
                                            title="Show participating pools"
                                            (click)="details(token)"
                                            class="p-button p-button-rounded p-button-success ms-auto me-auto mb-2"
                                            label="Find Pools" icon="fa-solid fa-magnifying-glass">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="empty">
                        <h4 *ngIf="tokensLoaded()">No Tokens were found</h4>
                        <h4 *ngIf="!tokensLoaded()" style="display:flex"><img width="24" height="24"
                                                                              src="../../../assets/smartclaimz.ico"
                                                                              class="request-spinner ms-2"
                                                                              style="display:flex;margin: 0 !important;">
                            <span class="ms-2" style="display:flex; float: left">Loading Tokens...</span></h4>
                    </ng-template>
                </p-dataView>
            </div>
        </div>
        <div id="selectedTokenDiv" *ngIf="selectedToken != null" class="center-div-child">
            <div class="data-view sidebyside">
                <div class="left-grid-container" style="display: block !important">
                    <div class="left-grid">
                        <div style="display: flex!important;">
                            <img src="{{selectedToken.tokenMetadata.logo}}" width="64" height="64"
                                 onerror="this.onerror=null;this.src='/assets/ada.png'" class="{{smallGrid ? 'ms-0' : 'ms-3'}} me-0 mb-0 mt-0">
                            <strong class="ms-3 me-auto mt-auto mb-auto">{{selectedToken.displayName}}</strong>
                        </div>
                        <div style="text-align: left!important;">
                            <p class="mt-3 {{smallGrid ? 'ms-0' : 'ms-3'}} me-auto grid-item-info-name">{{selectedToken.tokenMetadata.description}}</p>
                            <table *ngIf="!smallGrid" class="ms-3 me-auto mt-3">
                                <tr >
                                    <td>
                                        <p>Policy</p>
                                    </td>
                                    <td>
                                        <p class="ms-4"><a
                                                href="https://cardanoscan.io/tokenPolicy/{{selectedToken.tokenMetadata.policy}}"
                                                title="{{selectedToken.tokenMetadata.policy}}"
                                                target="_blank">{{selectedToken.tokenMetadata.shortPolicy}}</a>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Fingerprint</p>
                                    </td>
                                    <td>
                                        <p class="ms-4"><a
                                                href="https://cardanoscan.io/token/{{selectedToken.tokenMetadata.fingerprint}}"
                                                title="{{selectedToken.tokenMetadata.fingerprint}}"
                                                target="_blank">{{selectedToken.tokenMetadata.shortFingerprint}}</a>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Homepage</p>
                                    </td>
                                    <td>
                                        <p class="ms-4"><a href="{{selectedToken.tokenMetadata.homepageURL}}"
                                                           title="Token homepage {{selectedToken.tokenMetadata.homepage}}"
                                                           target="_blank">{{selectedToken.tokenMetadata.homepage}}</a>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                            <table *ngIf="smallGrid" class="ms-0 me-auto mt-1">
                                <tr >
                                    <td>
                                        <p style="margin-bottom: .2em!important"><a
                                                href="https://cardanoscan.io/tokenPolicy/{{selectedToken.tokenMetadata.policy}}"
                                                title="Policy {{selectedToken.tokenMetadata.policy}}"
                                                target="_blank">{{selectedToken.tokenMetadata.shortPolicy}}</a>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="margin-bottom: .2em!important"><a
                                                href="https://cardanoscan.io/token/{{selectedToken.tokenMetadata.fingerprint}}"
                                                title="Fingerprint {{selectedToken.tokenMetadata.fingerprint}}"
                                                target="_blank">{{selectedToken.tokenMetadata.shortFingerprint}}</a>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="margin-bottom: .2em!important"><a href="{{selectedToken.tokenMetadata.homepageURL}}"
                                                           title="Token homepage {{selectedToken.tokenMetadata.homepage}}"
                                                           target="_blank">{{selectedToken.tokenMetadata.homepage}}</a>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                            <button pButton
                                    title="Back to token list"
                                    (click)="details(null)"
                                    class="p-button p-button-rounded p-button-success {{smallGrid ? 'ms-0' : 'ms-3'}} mt-2 me-auto mb-0"
                                    label="Back" icon="fa-solid fa-arrow-left">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="right-grid" style="display: block !important">
                    <div *ngIf="!listingPools" class="data-view" style="width: auto!important">
                        <pools #poolView [pools]="pools" [inTokens]="true"></pools>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-template #notificationTemplate let-notificationData="notification">
    <p class="notifier__notification-message" [innerHTML]="notificationData.message"></p>
</ng-template>
